@import "./variable.scss";

.button {
    padding: 1rem;
    outline: none;
    background: $buttonColor;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.button-sm {
    padding: .2rem .6rem;
    height: 2rem;
    margin: .2rem;
}