
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

.column-flex {
    height: calc(100vh - 3.5rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}