
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    overflow: hidden;
}

.page-content {
    height: calc(100vh - 8rem);
    overflow-y: auto;
    padding-top: 1rem;
}
.column-flex {
    // height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
$i : 0;
@while $i < 105 {
    .d_w-#{$i} {
        $wid: $i * 1%;
        width: $wid;
    }
    .d_h-#{$i} {
        $wid: $i * 1%;
        width: $wid;
    }
    $i: $i + 5;
}

svg {
    cursor: pointer;
}