@import "./variable.scss";


.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.input {
    padding: .4rem .5rem;
    outline: none;
    border: none;
    background-color: $secondaryColor;
}

.addressform .input {
    background-color: $darkGray;
}