// colors
$white: #fff;
$gray: #F2F2F2;
$darkGray: #C4C4C4;
$black: #000;

// fonts
$defaultFonts: "Inter";

$backgroundColor: $white;
$secondaryColor: $gray;
$inputColor: $darkGray;
$accentColor: $black;
$buttonColor: $black;